*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

header{
    background-color: red;
    width: 100%;
    height: 50px;
}
header h3{
    color: aqua;
    text-align: center;
    padding: 10px;
}
header h3:hover{
    color: rgb(135, 30, 30);
}
h5{
   color: beige;
   margin-bottom: 10px;
}
h5:hover{
    color: brown;
}
footer,p{
    text-align: center;
    background-color:red;
    color: beige;
}
footer,p:hover{
    color: hsl(0, 72%, 30%);
}
.banner{
    width: 100%;
    height: 500px;
    background-image: url('https://img.freepik.com/premium-photo/opened-book-with-flying-pages-butterflies-dark-backgroundgenerative-ai_391052-12859.jpg');
    background-position: center;
    background-size: cover;
}

.row{
    width: 100%;
    height: 550px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.col{
    width:100%;
    background-color: rgb(152, 207, 207);
    margin-left: 10px;
}

.co2{
    width:100%;
    background-color: rgb(151, 203, 203);
    margin-left: 10px;
}
.co3{
    width:100%;
    background-color: rgb(151, 211, 211);
    margin-left: 10px;
}
.co4{
    width:100%;
    margin-left: 10px;
    background-color: rgb(150, 211, 211);
}
button{
    color: dimgray;
    background-color: bisque;
    padding: 10px;
    margin-left: 150px;
    margin-bottom: 20px;
    text-decoration: none;
}
button:hover{
    background-color: rgb(237, 229, 229);
}
h4{
    text-align: center;
}


